.jumbotrom{
  margin-top: 60px;
  background-color: @blue;
  color: white;
  margin-bottom: 0%;
  text-align: center;
  margin-left: 1px;
  margin-right: 3px;
  position: relative;
}
.blanco{
  color: white;
}
.tab-content{
  padding-top: 10px;
}
.bannercarousel{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-size: cover;
}
.card-hotel{
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
}
.btn-reserva{
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon{
  padding-right: 10px;
}
footer{
  margin-top: 24px;
  background-color: #3FA9EB;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 3px;
}
a{
  color: white;
}
address{
  color: white;
}
body{
  margin top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:  0px;
  padding: 0px;
  background-color: #fdf5e6;
}
div{
  margin: 6px;
}
