.jumbotrom {
  margin-top: 60px;
  background-color: #3e5f8a;
  color: white;
  margin-bottom: 0%;
  text-align: center;
  margin-left: 1px;
  margin-right: 3px;
  position: relative;
}
.blanco {
  color: white;
}
.tab-content {
  padding-top: 10px;
}
.bannercarousel {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-size: cover;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
footer {
  margin-top: 24px;
  background-color: #3e5f8a;
  margin-top: 0px;
  margin-bottom: 10px;
}
a {
  color: white;
}
address {
  color: white;
}
body {
  margintop: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
  background-color: #fdf5e6;
}
div {
  margin: 6px;
}
